page-signin {
    .masters {
        background-color: #2384c7;
      }
    .logo-image{

    }
 
    .toolbar-title{
        padding:10px;
        font-size: 2rem;
        font-weight: 500;
        color: aliceblue;
    }
}
